/* CSS стили для элементов внутри modal.body */
.modal-body {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Растягиваем элементы на всю ширину */
}

.modal-body > * {
    width: 100%; /* Устанавливаем ширину 100% для всех дочерних элементов */
    margin-bottom: 12px; /* Добавляем отступ снизу между элементами */
}

/* Ваш стиль кнопки */
.Button-primary {
    background-color: #434AF0;
    border: none; /* Убираем обводку */
    /* Дополнительные стили, если необходимо */
}


.Button-secondary {
    background-color: #2e353d;
    border: none; /* Убираем обводку */
    /* Дополнительные стили, если необходимо */
    &:hover {
        background-color: #151414; /* Замените на ваш желаемый цвет при наведении */
        /* Дополнительные стили при наведении, если необходимо */
    }
}