/* CSS стили для элементов внутри modal.body */
.modal-body {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Растягиваем элементы на всю ширину */
}

.modal-body > * {
    width: 100%; /* Устанавливаем ширину 100% для всех дочерних элементов */
    margin-bottom: 12px; /* Добавляем отступ снизу между элементами */
}

/* Ваш стиль кнопки */
.Button-primary {
    background-color: #434AF0;
    border: none; /* Убираем обводку */
    /* Дополнительные стили, если необходимо */
}


.Button-secondary {
    background-color: #2e353d;
    border: none; /* Убираем обводку */
    /* Дополнительные стили, если необходимо */
    &:hover {
        background-color: #151414; /* Замените на ваш желаемый цвет при наведении */
        /* Дополнительные стили при наведении, если необходимо */
    }
}

/* Goals.css */

/* Стили для списка целей */
ul {
    list-style-type: none;
    padding: 0;
    max-width: 400px;
    margin: 0 auto; /* Чтобы список находился в центре страницы */
}

/* Стили для каждой цели в списке */
li {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
}

/* Стили для заголовка цели */
li p:first-child {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Стили для срока выполнения цели и категории */
li p:nth-child(2), li p:nth-child(3) {
    font-size: 14px;
    color: #888;
    display: inline-block;
    margin-right: 10px;
}

/* Стили для иконки календаря */
li svg {
    vertical-align: middle;
    margin-right: 5px;
    color: #888;
}
/* styles.css */

.custom-button {
    background-color: #151515;
    color: black;
    border: none;
    margin-left: 10px;
}

.custom-button:hover {
    background-color: #d50606;
}

.delete-icon {
    color: white; /* Измените цвет значка мусорки по вашему желанию */
}
